---
# Stack name -- {{ stack }}
# CF template from -- {{ config.template }}
AWSTemplateFormatVersion: '2010-09-09'
Description: '{{ stack }} -- ec2 basic instance'
Parameters:
  Env:
    Description: environment to deploy.
    Type: String
    Default: '{{env}}'
  InstanceType:
    Description: EC2 instance type
    Type: String
    Default: '{{config.Parameters.InstanceType}}'
  HostName:
    Description: Server Name
    Type: String
    Default: "{{config.Parameters.HostName}}"
  IAMRole:
    Description: IAM Role Profile
    Type: String
    Default: "{{config.Parameters.IAMRole}}"
  RootDelOnTerm:
    Description: Delete On Termination Flag for Root Volume
    Type: String
    Default: "{{config.Parameters.RootDelOnTerm}}"
  RootVolType:
    Description: Volume Type
    Type: String
    Default: gp2
  RootVolSize:
    Description: Volume Size
    Type: String
    Default: "{{config.Parameters.RootVolSize}}"
Mappings:
  Fn::Transform:
    - Name: 'AWS::Include'
      Parameters:
        Location:
          Fn::Join:
            - ''
            - - 's3://'
              - !Ref Env
              - '-kiwi-cloudformation-scripts/common_mappings.yaml'
Resources:  
  ServerInstance:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: !Ref InstanceType
      ImageId: !FindInMap [Env2var, !Ref Env, ImageId]
      KeyName: !FindInMap [Env2var, !Ref Env, JumpKeyName]
      SecurityGroupIds:
        {%- for security_group in config.SecurityGroups %}
        - !ImportValue '{{ security_group }}'
        {%- endfor %}
      SubnetId: !ImportValue '{{ config.Subnet }}'
      Fn::Transform:
        - Name: 'AWS::Include'
          Parameters:
            Location:
              Fn::Join:
                - ''
                - - 's3://'
                  - !Ref Env
                  - '-kiwi-cloudformation-scripts/common_tags_no_asg.yaml'
      Fn::Transform:
        - Name: 'AWS::Include'
          Parameters:
            Location:
              Fn::Join:
                - ''
                - - 's3://'
                  - !Ref Env
                  - '-kiwi-cloudformation-scripts/common_userdata.yaml'
      IamInstanceProfile: !Ref IAMRole
      BlockDeviceMappings:
        - DeviceName: /dev/xvda
          Ebs:
            DeleteOnTermination: !Ref RootDelOnTerm
            VolumeSize: !Ref RootVolSize
            VolumeType: !Ref RootVolType
      
...