---
# Stack name -- {{ stack }}
# CF template from -- {{ config.template }}
AWSTemplateFormatVersion: '2010-09-09'
Description: '{{ stack }} -- ec2 instance, no asg type'
Parameters:
  Env:
    Description: environment to deploy.
    Type: String
    AllowedValues:
      - "{{env}}"
    Default: "{{env}}"
  InstanceType:
    Description: EC2 instance type
    Type: String
    Default: "{{config.Parameters.InstanceType}}"
  HostName:
    Description: Server Name
    Type: String
    Default: "{{config.Parameters.HostName}}"
  IAMRole:
    Description: IAM Role Profile
    Type: String
    Default: "{{config.Parameters.IAMRole}}"
  RootDelOnTerm:
    Description: Delete On Termination Flag for Root Volume
    Type: String
    AllowedValues:
      - true
      - false 
    Default: "{{config.Parameters.RootDelOnTerm}}"
  RootVolType:
    Description: Volume Type
    Type: String
    Default: gp2
  RootVolSize:
    Description: Volume Size
    Type: String
    Default: "{{config.Parameters.RootVolSize}}"
Mappings:
  Fn::Transform:
    - Name: 'AWS::Include'
      Parameters:
        Location:
          !Join
            - ''
            - - 's3://'
              - !Ref Env
              - '-kiwi-cloudformation-scripts/common_mappings.yaml'
Resources:
  ServerInstance:
    Type: AWS::EC2::Instance
    Properties:
      InstanceType: !Ref InstanceType
      ImageId: !FindInMap [Env2var, !Ref Env, ImageId]
      NetworkInterfaces:
        GroupSet:
          {%- for security_group in config.SecurityGroups %}
          - !ImportValue '{{ security_group }}'
          {%- endfor %}
      AssociatePublicIpAddress: false
      DeviceIndex: 0
      DeleteOnTermination: true
      SubnetId: !ImportValue '{{ config.SubnetId }}'
      KeyName: !FindInMap [Env2var, !Ref Env, KeyName]
      Fn::Transform:
        - Name: 'AWS::Include'
          Parameters:
            Location:
              !Join
                - ''
                - - 's3://'
                  - !Ref Env
                  - '-kiwi-cloudformation-scripts/common_userdata.yaml'
        - Name: 'AWS::Include'
          Parameters:
            Location:
              !Join
                - ''
                - - 's3://'
                  - !Ref Env
                  - '-kiwi-cloudformation-scripts/common_tags_no_asg.yaml'
      BlockDeviceMappings:
        DeviceName: /dev/xvda
        Ebs:
          DeleteOnTermination: !Ref RootDelOnTerm
          VolumeSize: !Ref RootVolSize
          VolumeType: !Ref RootVolType
      IamInstanceProfile: !Ref IAMRole
      CreationPolicy:
        ResourceSignal:
          Timeout: PT15M
        
        
        
        
        
    
                    
      
...