---
# Stack name -- {{ stack }}
# CF template from -- {{ config.template }}
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  {{stack}} - AWS Network Config, InternetGateway, VPC
Parameters:
  Env:
    Description: environenmt to deploy.
    Type: String
    AllowedValues:
    - "{{ env }}"
    Default: "{{ env }}"
Resources:
# Internet 网关。创建 Internet 网关后，您可以将它连接到 VPC
  InternetGateway:
    Type: "AWS::EC2::InternetGateway"
    Properties:
      Tags:
        - Key: Name
          Value: InternetGateway
# 利用指定的 CIDR 块创建 Virtual Private Cloud (VPC)
  VPC:
    Type: "AWS::EC2::VPC"
    Properties:
      CidrBlock: 10.0.0.0/16
  AttachGateway:
    Properties:
      InternetGatewayId: !Ref InternetGateway
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: kiwiVPC
...
