---
# Stack name -- {{ stack }}
# CF template from -- {{ config.template }}
AWSTemplateFormatVersion: '2010-09-09'
Description: >
  {{stack}} - AWS Network Config, InternetGateway, VPC
Parameters:
  Env:
    Description: environenmt to deploy.
    Type: String
    AllowedValues:
    - "{{ env }}"
    Default: "{{ env }}"
Resources:
  InternetGateway:
    Type: "AWS::EC2::InternetGateway"
    Properties:
      Tags:
        - Key: Name
          Value: InternetGateway
    VPC:
      Type: "AWS::EC2::VPC"
      Properties:
        CidrBlock: 10.0.0.0/16
    AttachGateway:
      Properties:
        InternetGatewayId: !Ref InternetGateway
        VpcId: !Ref VPC
        Tags:
          - Key: Name
            Value: kiwiVPC
...
